
    <html>
        <body>
            <h1 style="background-color:powderblue;color:red;">Welcome to the API LOGIN PAGE</h1>
            <form action="/login" method="POST">
                <div>
                    <label for="username">Username</label>
                    <input type="text" name="username" required> </input>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" required> </input>
                </div>
                <button type="submit">Submit</button>
            </form>
        </body>
    </html>
